

/*Seções*/
.secao-1 {
    color: white;
}

h1 {
    font-weight: normal;
}

.secao h1 {
    font-size: 50px;
    font-weight: normal;
}

.secao h2, .secao h3, .secao h4 {
    font-weight: normal;
}

.secao-1 {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(7, 93, 223);
    background-image: linear-gradient(135deg, rgb(7, 93, 223), rgb(99, 158, 247));
    height: calc(100vh - 70px);
    min-height: 500px;
    position: relative;
}

.dentro-secao-1 {
    z-index: 2;
}

.secao-1 #particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.secao-1 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 12px;

    letter-spacing: normal;
}

.secao-1 button {
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 22px;
    color: rgb(7, 93, 223);

    background-color: white;
    padding: 15px 30px;

    border-radius: 5px;
    letter-spacing: 0.07em;

    font-family: 'Coolvetica', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 22px;

    transition: 0.4s ease;

    display: flex;
    align-items: center;
}




    .secao-1 button i {
        margin-left: 10px;
        transition: 0.4s ease;
        min-width: 35px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: min-content;
        border-radius: 50%;

        font-size: 20px;
    
    }

    .secao-1 button:hover i {
        margin-left: 25px;
        background-color: rgba(7, 93, 223, 0.2);

    }



.secao-1 h1 {
    margin-left: -10%;
    opacity: 0;

    animation: toRight 800ms;
    animation-delay: 200ms;

    animation-fill-mode: forwards;
}

.secao-1 p {
    margin-left: -10%;
    opacity: 0;

    animation: toRight 800ms;
    animation-delay: 400ms;

    animation-fill-mode: forwards;
}

.secao-1 button {
    margin-left: -10%;
    opacity: 0;

    animation: toRight 800ms;
    animation-delay: 600ms;

    animation-fill-mode: forwards;
}
    
/*Seção 2*/

.secao-2 {
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;

    
}

.secao-2 h1 {
    color: rgba(0, 8, 12, 0.7);
    

    margin-bottom: 40px;
}
    .secao-2 h1 span {
        color: rgb(7, 93, 223);
        background-color: rgba(7, 93, 223, 0.15);
        min-width: 80px;
        min-height: 80px;
        display: inline-flex;
        width: min-content;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        
    }

.secao-2 p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 8, 12, 0.7);
    letter-spacing: normal;

    
}

.secao-2 .nossos-servicos-h1 {
    margin-top: 50px;
    font-size: 30px;

    color: rgb(7, 93, 223);
}

    /*----- Sec 2 -> Serviços */

    .servicos-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
    }

    .servico-box {
        width: 48%;
        
        display: flex;
        height: 180px;
        background-color: white;
        border-radius: 10px;

        box-shadow: 0px 0px 40px rgba(1, 41, 75, 0.1);
        
        
    }
        .servico-box-icone {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
           
            aspect-ratio: 1 / 1;
            background-color: rgba(7, 93, 223, 0.2);
            border-radius: 10px;

            height: 70%;
            margin-left: 17px;
        }

        .servico-box-icone i {
            background-image: linear-gradient(135deg, rgb(7, 93, 223), rgb(99, 158, 247));
            background-clip: text;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            text-align: center;
        }

    

        .servico-box-conteudo {
            margin: 20px;
        }

        .servico-box-conteudo h2 {
            font-size: 20px;
            color: rgb(7, 93, 223);
            margin-bottom: 7px;
        }

        .servico-box-conteudo p {
            font-size: 17px;
            color: rgba(0, 42, 77, 0.7);
        }


        .servico-box {

            height: 140px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
        }
        
        






/*Anims*/
@keyframes toDown {
    0% {
        margin-top: -10%;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes toRight {
    0% {
        margin-left: -10%;
        opacity: 0;
    }

    100% {
        margin-left: 0;
        opacity: 1;
    }
}


