@media screen and (max-width: 1030px) {
    .servicos-container {
        flex-direction: column;
    }

    .servico-box {
        width: 100%;

        margin-bottom: 30px;
    }
}




@media screen and (max-width: 800px) {
    header ul li a {
        display: none;
    }
    
    .secao h1 {
        font-size: 30px;
    }

    .header-menu-mobile-button {
        display: flex;
        justify-content: center;
        align-items: center;

        color: rgb(7, 93, 223);
        width: 35px;
        height: 35px;
        background-color: rgba(7, 93, 223, 0.2);
        border-radius: 50%;

        font-size: 22px;
        opacity: 0;
        animation: toOpacity 1s;
        animation-delay: 800ms;
        animation-fill-mode: forwards;
        
    }

    /*Seção 1*/
    .secao-1 p {
        font-size: 19px;
    }


    /*Seção 2*/

    .secao-2 h1 span {
        min-width: min-content;
        min-height: min-content;
        background-color: transparent;
    }

    .secao-2 p {
        font-size: 15px;
    }
    

    .servico-box {
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .servico-box-conteudo {
        margin: 10px;
    }

    .servico-box-conteudo h2 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .servico-box-conteudo p {
        font-size: 13px;
    }

    .servico-box-icone {
        font-size: 40px;
    }


}

