@media screen and (max-width: 1030px) {
    .servicos-container {
        flex-direction: column;
    }

    .servico-box {
        width: 100%;

        margin-bottom: 30px;
    }
}




@media screen and (max-width: 800px) {
    header ul li a {
        display: none;
    }
    
    .secao h1 {
        font-size: 30px;
    }



    /*Seção 1*/
    .secao-1 p {
        font-size: 19px;
    }


    /*Seção 2*/

    .secao-2 h1 span {
        min-width: min-content;
        min-height: min-content;
        background-color: transparent;
    }

    .secao-2 p {
        font-size: 15px;
    }
    

    .servico-box {
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .servico-box-conteudo {
        margin: 10px;
    }

    .servico-box-conteudo h2 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .servico-box-conteudo p {
        font-size: 13px;
    }

    .servico-box-icone {
        font-size: 40px;
    }

    /* Menu Mobile */

    .menu-mobile {
        width: calc(100% - 14%);
        height: 400px;
        left: 7%;
        right: 7%;
        top: 100px;
        border-radius: 7px;
        border: none;

        background-color: rgb(245, 248, 253);

        overflow: hidden;
    }

        .menu-mobile-back {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(1, 6, 17, 0.7);
            top: 0;
            left: 0;
            z-index: 2;
        }

        .menu-mobile ul li a {
   
            font-size: 19px;



            
            padding-top: 15px;
            padding-bottom: 15px;
            
        
            border-radius: 5px;
        
            display: block;
            margin-bottom: 15px;

            transition: 0.4s;
        }

         
        .menu-mobile ul hr {
            display: block;
            width: 120%;
            margin-left: -9%;
            border: 1px solid rgba(1, 41, 75, 0.15);
            margin-bottom: 10px;
        }

        .menu-mobile ul li a:not(.menu-mobile-modo-desemp-a) {
            display: block;
            box-shadow: 0px 0px 20px rgba(1, 41, 75, 0.07);
            background-color: white;
            padding-left: 20px;
        }

            .menu-mobile ul li a:not(.menu-mobile-modo-desemp-a):hover {
                color: rgb(7, 93, 223);
                
            }
        
    


}

